{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      {{ form.hidden_tag()}}
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.name(class_ = 'form-control', autofocus = true, value=artist.name) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          {% if form.city.errors %}
              {% for error in form.city.errors %}
                  <p class="error-message">{{ error }}</p>
              {% endfor %}
          {% endif %}
          {% if form.state.errors %}
            {% for error in form.state.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value=artist.city) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', id='state', autofocus = true, value=artist.state) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {% if form.phone.errors %}
            {% for error in form.phone.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value=artist.phone) }}
        </div>
        <div class="form-group">
          <label for="image-link">Image link</label>
          {% if form.image_link.errors %}
            {% for error in form.image_link.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}
          {{ form.image_link(class_ = 'form-control', placeholder='http://', id='image-link', autofocus = true, value=artist.image_link) }}
      </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {% if form.genres.errors %}
          {% for error in form.genres.errors %}
              <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', id='genres', autofocus = true, value=artist.genres) }}
      </div>
      <div class="form-group">
        <label for="fb-link">Facebook Link</label>
        {% if form.facebook_link.errors %}
          {% for error in form.facebook_link.errors %}
              <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {{ form.facebook_link(class_ = 'form-control', placeholder='http://', id='fb-link', autofocus = true, value=artist.facebook_link) }}
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        {% if form.website.errors %}
          {% for error in form.website.errors %}
              <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {{ form.website(class_ = 'form-control', placeholder='http://', id='website', autofocus = true, value=artist.website) }}
      </div>
  
    <div class="form-group">
      <label for="talent">Seeking venue</label>
      {% if form.seeking_venue.errors %}
        {% for error in form.seeking_venue.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{ form.seeking_venue(class_ = 'form-control', id='seeking_venue', autofocus = true, value="Yes" if artist.seeking_venue else "No"  ) }}
    </div>
    <div class="form-group">
      <label for="description">Seeking description</label>
      {% if form.seeking_description.errors %}
        {% for error in form.seeking_description.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{ form.seeking_description(class_ = 'form-control', placeholder='your description', id='description', autofocus = true, value=artist.seeking_description) }}
    </div>
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>
      // setting state value
      var state = document.getElementById("state");
      state.value = state.getAttribute('value');
      // setting genres value
      var genres = document.getElementById("genres");
      let genres_values = genres.getAttribute('value').replace('{','').replace('}','').split(",")
        for ( var i = 0, length = genres.options.length, option; i < length; i++ )
        {
          option = genres.options[i];
          if ( genres_values.indexOf( option.value ) != -1 )
          {
            option.selected = true;
          } else {
            option.selected = false;
          }
        }
        //setting seeking venue value
        var seeking_venue = document.getElementById("seeking_venue");
        seeking_venue.value = seeking_venue.getAttribute('value');
  </script>
{% endblock %}


